@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body,
#root {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: url('/src/assets/images/cool-background.png');
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 400px;
  align-self: center;
  margin: auto;
}

input {
  height: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

select {
  height: 46px;
}

.converter-window {
  display: flex;
  flex-direction: row;
}

.convert-button {
  font-family: 'Montserrat', sans-serif;
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

.convert-button:active {
  border: 1px solid;
}
